.movie-page__movie-details {
  height: fit-content;
  width: 100%;
  padding: 0 12px;

  .movie-page__name {
    h2:nth-child(2) {
      display: none;
    }
  }

  .movie-page__main-content {
    flex-direction: column-reverse;
  }

  .movie-page__trailer {
    height: 45vh;
    margin: 5px 0 20px 0;

    iframe {
      width: 100%;
    }
  }
 
  .order-ticket__button {
    position: static;
    margin-bottom: 35px;
  }
}
